:root {
  --primary: #2c5fcb;
  --secondary: #22c197;
  --white: #88a4ff;
  --black: #454655;
  --good: #208a86;
  --bad: #ff6274;
  --dim: #a9aabc;
  --dim-2: #eceeff;
  --light: #f8f8ff;
}

.dark-theme:root {
  --primary: #122347;
  --secondary: #178581;
  --white: #95a3bc;
  --black: #f1f1e6;
  --good: #37b9b7;
  --bad: #ff6274;
  --dim: #889fc9;
  --dim-2: #4f658f;
  --light: #1a335f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 93.75%;
}

body {
  background: var(--light);
  font-family: 'Poppins', sans-serif;
}

h2 {
  margin-top: 3.2rem;
  margin-bottom: 0.8rem;
  color: var(--light);

  font-weight: normal;
}

.container {
  width: min(90vw, 800px);
  margin: auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

a {
  color: var(--secondary);
  text-decoration: none;
}

a:hover {
  color: var(--good);
}

button {
  width: 100%;
  height: 50px;
  padding: 0;

  border: none;
  border-radius: 0.25rem;
  color: white;
  background: var(--secondary);

  cursor: pointer;
}

button:hover {
  background: var(--good);
}

.button.new {
  display: inline-block;
  margin-bottom: .8rem;
}

.button.cancel {
  color: var(--bad);
  border: 2px var(--bad) solid;

  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.6;
}

.button.cancel:hover {
  opacity: 1;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  background: var(--primary);
  padding: 2rem 0 10rem;
  text-align: center;
}

.wrapper-switch {
  margin: 10px auto;

  touch-action: pan-x;

  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;
}

.switch-theme {
  width: 50px;
  height: 24px;
  padding: 0;
  border-radius: 30px;
  background-color: var(--white);
  transition: all .2s ease;
}

.dark {
  position: absolute;
  width: 14px;
  height: 10px;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  left: 8px;
}

.light {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  right: 10px;
}

.moon {
  align-items: center;
  display: flex;
  height: 10px;
  justify-content: center;
  position: relative;
  width: 10px;
}

.moon::before {
  content: "\1F31C";
  position: absolute;
}

.sun {
  align-items: center;
  display: flex;
  height: 10px;
  justify-content: center;
  position: relative;
  width: 10px;
}

.sun::before {
  content: "\1F31E";
  position: absolute;
}

#toggle {
  opacity: 0;
  position: absolute;
}

.toggle-theme {
  transition: all .5s cubic-bezier(.23,1,.32,1) 0ms;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 22px;
  height: 22px;
  border: 1px solid var(--black);
  border-radius: 50%;
  background-color: var(--light);
  box-sizing: border-box;
  transition: all .25s ease;
}

#toggle:checked + .toggle-theme {
    transform: translateX(24px);
}

#balance {
  margin-top: -8rem;
}

#balance h2 {
  color: var(--light);
  margin-top: 0;
}

.card {
  background: var(--white);
  padding: 1.5rem 2rem;

  border-radius: 0.25rem;
  margin-bottom: 2rem;

  color: var(--light);
}

.card h3 {
  font-weight: normal;
  line-height: 3rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card p {
  font-size: 2rem;
  line-height: 3rem;

  margin-top: 1rem;
}

.card.total {
  background: var(--secondary);
  color: var(--light);
}

#transaction {
  display: block;
  width: 100%;
  overflow-x: auto;
}

#data-transaction {
  width: 100%;
  color: var(--dim);
  border-spacing: 0 0.5rem;
}

#data-transaction thead th {
  background: var(--dim-2);
  font-weight: normal;
  padding: 1rem 2rem;
  text-align: left;
}

#data-transaction tbody tr {
  opacity: 0.7;
}

#data-transaction tbody tr:hover {
  opacity: 1;
}

#data-transaction tbody td {
  background: var(--dim-2);
  padding: 1rem 2rem;
  font-weight: normal;
}

#data-transaction thead tr th:first-child,
#data-transaction tbody tr td:first-child {
  border-radius: 0.5rem 0 0 0.5rem;
}

#data-transaction thead tr th:last-child,
#data-transaction tbody tr td:last-child {
  border-radius: 0 0.5rem 0.5rem 0;
}

td.description {
  color: var(--black);
}

td.income {
  color: var(--good);
}

td.expense {
  color: var(--bad);
}

.modal-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);

  position: fixed;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;

  z-index: 999;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal {
  background: var(--light);
  padding: 2.4rem;

  position: relative;
  z-index: 1;
}

#form {
  max-width: 500px;
}

#form h2 {
  color: var(--black);
  margin-top: 0;
}

#form form input {
  border: none;
  border-radius: 0.2rem;

  padding: 0.8rem;
  width: 100%;
}

.input-group {
  margin-top: 0.8rem;
}

.input-group small {
  opacity: 0.4;
}

.input-group.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-group.actions .button,
.input-group.actions button {
  width: 48%;
}

footer {
  text-align: center;
  padding: 4rem 0 2rem;
  color: var(--black);
  opacity: 0.6;
}


@media (min-width: 800px) {
  html {
    font-size: 87.5%;
  }

  #balance {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}

@keyframes fade {
    from {
        opacity: 0.1;
        transform: translateY(-35%);
    } to {
        opacity: 1;
        transform: translateY(0%);
    }
}
.card, .button.new {
    animation-name: fade;
    animation-duration: 1.8s;
}
.card {
    animation-name: fade;
    animation-duration: 1.25s;
}
.card {
    animation-name: fade;
    animation-duration: 1s;
}

body {
  animation-name: fade;
  animation-duration: .5s;
}

